@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h2 {
    font-weight: 800;
    color: #146ef5;
}

label {
    font-weight: 600;
    color: #146ef5;
}

input {
    font-weight: 300;
    font-size: medium;

}

h2 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin: 0 auto;
    font-family: sans-serif;
    background: #fff;
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.form-item {
    position: relative;
    margin: 15px
}

.form-item input {
    display: block;
    width: 250px;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px
}


.form-item input:hover {
    border-color: #146ef5
}

.form-item label {
    position: absolute;
    cursor: text;
    top: 13px;
    left: 10px;
    font-size: 12px;
    background: #fff;
    padding: 0 10px;
    transition: all .3s ease
}

.form-item label {
    font-size: 11px;
    top: -5px
}

.form-item a input {
    cursor: pointer;
}

.form-item a:hover + label, 
.form-item input:hover + label {
    color: black;
}

i.fa.fa-caret-down {
    margin-top: -27px;
    margin-left: 213px;
}

.button-get {
    background-color: #146ef5;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    line-height: 29px;
    width: 100px;
    margin-top: 4px;
}

.button-get:hover {
    background-color: #0055d4;
    box-shadow: 0 1px 1px #08080814, 0 1px 1px #08080833, inset 0 6px 12px #ffffff1f, inset 0 1px 1px #fff3;
}

.button-get:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}


.div-block{
    border: 1px solid #ccc;
    width: 250px;
}

.heading {
    text-align: center;
    margin-bottom: 17px;
    margin-top: 16px;
    letter-spacing: 0.5px;
    line-height: 9px;
}

.dropdown-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.div-block input[type=text] {
    background-color: white;
    background-image: url(https://www.w3schools.com/css/searchicon.png);
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
    background-position: 17px 13px;
    height: 46px;
    width: 200px;
}

.list-group{
    overflow: auto;
    height: 250px;
}

.list-group label{
    display: block;
    padding: 2%;
    margin-right: 20px;
    margin-left: 20px;
}
.list-group .list-group-item:hover {
    background-color: #146ef5;
    color: white;
}